@import './font.css';
@import './header.css';
@import './main-section.css';
@import './catalog.css';
@import './bestsellers.css';
@import './footer.css';
@import './dropdown.css';

:root {
  --basic-color: #235984;
  --background-color: rgba(35, 89, 132, 0.08);
  --background-color-hover: rgba(35, 89, 132, 0.2);
  --title-color: #1e1e1e;
}

html {
  box-sizing: border-box;
  height: 100%;
  font-family: "Comfortaa", sans-serif;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1620px;
  padding: 0 10px;
  margin: 0 auto;
}
