:root {
  --basic-color: #235984;
  --background-color: rgba(35, 89, 132, 0.08);
  --background-color-hover: rgba(35, 89, 132, 0.2);
  --title-color: #1e1e1e;
}

@font-face {
  font-family: "Comfortaa";
  src:
    local("Comfortaa Bold"),
    local("Comfortaa-Bold"),
    url("../fonts/comfortaa/Comfortaa-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Comfortaa";
  src:
    local("Comfortaa Light"),
    local("Comfortaa-Light"),
    url("../fonts/comfortaa/Comfortaa-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Comfortaa";
  src:
    local("Comfortaa Regular"),
    local("Comfortaa-Regular"),
    url("../fonts/comfortaa/Comfortaa-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "TT Norms Pro";
  src:
    local("TT Norms Pro Bold"),
    local("TTNormsPro-Bold"),
    url("../fonts/norms-pro/TTNormsPro-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "TT Norms Pro";
  src:
    local("TT Norms Pro Regular"),
    local("TTNormsPro-Regular"),
    url("../fonts/norms-pro/TTNormsPro-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "TT Norms Pro";
  src:
    local("TT Norms Pro Regular"),
    local("TTNormsPro-Regular"),
    url("../fonts/norms-pro/TTNormsPro-Medium.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

html {
  box-sizing: border-box;
  height: 100%;
  font-family: "Comfortaa", sans-serif;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1620px;
  padding: 0 10px;
  margin: 0 auto;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
}

.header-form__input {
  width: 978px;
  height: 56px;
  border: 1px solid #c8c8c8;
  border-radius: 10px;
  padding: 1em 1.2em;
  font-family: "TT Norms Pro", sans-serif;
  color: #191919;
  font-size: 1.25em;
}

.header-form {
  position: relative;
}

.header-form__input::placeholder {
  font-family: "TT Norms Pro", sans-serif;
  color: #191919;
  font-size: 1.25em;
}

.header-form__icon-search {
  position: absolute;
  top: 16px;
  right: 20px;
  transition: all 0.4s;
}

.header-form__icon-search:hover {
  transform: scale(1.1);
}

.icon__list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.header-menu__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* height: 79px; */
  padding: 1.25emx 9.375em;
}

.header-menu__container .menu {
  display: flex;
  align-items: center;
  gap: 60px;
}

.menu__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 60px;
}

.menu__list-link {
  font-family: "TT Norms Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1em;
  text-transform: uppercase;
  color: #000000;
  padding-bottom: 5px;
  transition: all 0.5s;
  border-bottom: 1px solid transparent;
}

.menu__list-link:hover {
  border-bottom: 1px solid var(--basic-color);
}

.header-menu__callback {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 5px;
}

.header-menu__callback .phone {
  font-family: "TT Norms Pro";
  font-size: 1.125em;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  color: #000;
}

.header-menu__callback .email {
  font-family: "TT Norms Pro";
  font-size: 1.125em;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration-line: underline;
  color: #000;
}

.button {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 14px 25px;
  width: 155px;
  height: 47px;
  border-radius: 10px;
  background: var(--background-color);
  border: none;
  color: var(--basic-color);
  font-family: TT Norms Pro;
  font-size: 1em;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}

.button:hover {
  background: var(--background-color-hover);
}

.main__inner {
  margin-top: 54px;
  padding-left: 85px;
  border-radius: 20px;
  background: var(--background-color);
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.main__title {
  margin-top: 89px;
  margin-bottom: 32px;
  font-family: "Comfortaa";
  font-size: 2.875em;
  font-style: normal;
  font-weight: 500;
  line-height: 147%;
  margin-bottom: 32px;
  color: var(--basic-color);
}

.main__text {
  font-family: "TT Norms Pro";
  font-size: 1.125em;
  font-style: normal;
  font-weight: 400;
  line-height: 164%;
  margin-bottom: 58px;
}

.main__image-wrapper {
  overflow: hidden;
  border-radius: 30% 3% 3% 30% / 50% 3% 3% 50%;
}

.main__image-wrapper img {
  transition: transform 1s;
}

.main__image-wrapper:hover img {
  transform: scale(1.2);
}

.feedback-btn {
  position: relative;
  width: 182px;
  height: 182px;
  border-radius: 200px 200px 200px 200px;
  border: none;
  background-color: #237284;
  font-family: "TT Norms Pro";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  color: #fff;
  transition: all 0.5s;
}

.feedback-btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: -15px;
  width: 182px;
  height: 182px;
  border-radius: 200px 200px 200px 200px;
  border: 2px solid #152d53;
  background: transparent;
  cursor: pointer;
  transition: all 0.5s;
}

.feedback-btn:hover {
  background-color: var(--basic-color);
}

.feedback-btn:hover::before {
  transform: translateX(15px);
  opacity: 0;
}

/* =============catalog============== */

.catalog {
  margin-top: 100px;
}

.catalog-menu__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.catalog-menu__item {
  width: 527px;
  height: 562px;
  border-radius: 10px;
  overflow: hidden;
}

.catalog-card__overlay {
  width: 600px;
  height: 600px;
  border-radius: 600px;
  background: rgba(233, 239, 243, 0.91);
  transform: translate(-30px, -220px);
  transition: all 0.4s;
}

.catalog-card__overlay:hover {
  transform: translate(-30px, -420px);
}

.catalog-card__title {
  padding-top: 50px;
  margin-bottom: 12px;
  text-align: center;
  font-family: "Comfortaa";
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 147%;
  text-transform: uppercase;
  color: #235984;
}

.catalog-card__text {
  font-family: "TT Norms Pro";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 164%;
  color: #737373;
  text-align: center;
}

/* =============bestsellers============== */

.bestsellers {
  margin-top: 100px;
}

.bestsellers__title {
  font-family: "Comfortaa";
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: 147%;
  text-transform: uppercase;
  color: var(--title-color);
  margin-bottom: 40px;
}

.bestsellers__slider {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.slider-card {
  position: relative;
  width: 390px;
  height: 496px;
  border-radius: 20px;
  background: #e9eff3;
  overflow: hidden;
  padding: 23px;
}

.slider-card__images {
  position: absolute;
  top: 0;
  left: 0;
}

.slider-card svg {
  position: absolute;
  top: 10px;
  right: 10px;
}

.slider-card__price-content {
  display: flex;
  justify-content: space-between;
  margin-top: 340px;
}

.slider-card__price-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.slider-card__price {
  color: var(--title-color);
  font-family: "Comfortaa";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 147%;
  text-transform: uppercase;
}

.slider-card__price--sale {
  color: #8c8c8c;
  font-weight: 300;
  text-decoration-line: line-through;
  text-transform: uppercase;
}

.slider-card__btn-sale {
  width: 79px;
  height: 33px;
  border-radius: 20px;
  background: #237284;
  color: #fff;
  font-family: "Comfortaa";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-slider__description {
  color: #5b5b5b;
  font-family: "TT Norms Pro";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.card-slider__btn {
  padding: 15px;
  margin-top: 13px;
  width: 100%;
  font-family: "TT Norms Pro";
  font-size: 1.25em;
  font-style: normal;
  color: var(--basic-color);
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: 1.42px solid #235984;
  transition: all 0.4s;
}

.card-slider__btn:hover {
  background-color: var(--basic-color);
  color: #e9eff3;
  cursor: pointer;
}

.bestsellers__slider-buttons {
  display: flex;
  align-items: flex-start;
  gap: 10px;
}

.bestsellers__btn-prev,
.bestsellers__btn-next {
  position: relative;
  width: 50px;
  height: 50px;
  background: var(--background-color);
  border-radius: 50%;
  border: none;
  transition: all 0.3s;
}

.bestsellers__btn-prev:hover,
.bestsellers__btn-next:hover {
  background: #fff;
  cursor: pointer;
}

.bestsellers__btn-prev::after {
  position: absolute;
  top: 20px;
  left: 20px;
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  border-left: 2px solid var(--basic-color);
  border-bottom: 2px solid var(--basic-color);
  transform: rotate(45deg);
  transition: all 0.3s;
}
.bestsellers__btn-next::after {
  position: absolute;
  top: 20px;
  left: 20px;
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  border-right: 2px solid var(--basic-color);
  border-bottom: 2px solid var(--basic-color);
  transform: rotate(-45deg);
}

.bestsellers__btn-prev:hover::after {
  left: 18px;
}

.bestsellers__btn-next:hover::after {
  left: 22px;
}

.bestsellers__inner div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* ==============footer============== */

.page-footer {
  margin-top: 100px;
  padding: 150px 109px;
  background: rgba(208, 233, 255, 0.2);
}

.page-footer__inner {
  display: flex;
}

.page-footer__contacts {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.page-footer__contacts .phone {
  color: #152d53;
  font-family: TT Norms Pro;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}

.page-footer__contacts .email,
.page-footer__contacts .address {
  color: #152d53;
  font-family: 'TT Norms Pro';
  font-size: 1.125em;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
}

.page-footer__block-group {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 43px;
  grid-row-gap: 0px;
  padding-left: 150px;
}

.page-footer__header-title {
  color: #000;
  font-family: "TT Norms Pro";
  font-size: 1em;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.page-footer__item {
  padding-bottom: 1.125em;
}

.page-footer__link {
  color: #666;
  font-family: "TT Norms Pro";
  font-size: 1em;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  transition: all 0.5s ease-in-out;
}

.page-footer__item .page-footer__link:hover {
  color: var(--basic-color);
  transform: scale(1.1);
}

.page-footer__menu-list {
  display: flex;
  flex-direction: column;
  gap: 26px;
}

.page-footer__menu-link {
  font-family: "TT Norms Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1em;
  text-transform: uppercase;
  color: #000000;
  padding-bottom: 5px;
  transition: all 0.5s ease-in-out;
}

.page-footer__menu-link--active {
  font-weight: 700;
  color: var(--basic-color);
}

.page-footer__menu-link:hover {
  font-weight: 700;
  color: var(--basic-color);
}
